<div class="container">
  <div class="col-12">
    <table class="table table-sm table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Loggin</th>
          <th scope="col">Password</th>
          <th scope="col">Optionen</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let account of accounts; let i = index">
          <th>{{ i }}</th>
          <th>{{ account.name }}</th>
          <th>{{ account.loggin }}</th>
          <th>{{ account.password }}</th>
          <th>
            <button class="btn btn-danger" (click)="deleteAccount(i)">
              Löschen
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
